@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{background-color: black;
   height: 8000px;
}
.bg{
    
    height: 768px;
    width: 1440px;
    background-image: url(/images/Background.png);
    position: relative;
    z-index: 0  ;
    opacity: 0.5001;
}
.header{
   
    display: flex;
    justify-content: center;
}
.navbar{
    position: absolute;
  
    height: 22px;
    z-index: 1;
    top: 10px;

}
.navbar ul{
    display: flex;
    justify-content: center;
    
}
.navbar ul li {
    list-style: none;
    margin: 0px 30px;
    margin-top: 50px;
    
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 5.56%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.maintext{
    top: 163px;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    
}
.logo{
    position: absolute;
    font-family: Arial, Helvetica, sans-serife;
    top: 45px;
    left: 250px;
    color: #DAAE5A;
    font-size: 50px;
}
.video1{
    position: absolute;
    top: 312px;
    width: 555px;
    height: 324px;
    display: flex;
    justify-content: center;
    background-image: url(/images/video-frame.png);
    align-items: center;
   
}
.playbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
   background-color: aliceblue;
   border-radius: 50px;
    opacity: 0.6;
}
.playbtn i {
    font-size: 25px;
}

.icons{
    position: absolute;
    top: 45px;
    right: 250px;
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: flex-start;
}

.icons li {
    
    height: 42px;
    width: 42px;
    background-color: white;
    border-radius: 10px;
}

.scrolldown {
    position: absolute;
    bottom: 150px;
    color: aliceblue;
}
.Advantages{
    height: 768px;
    width: 1440px;
    background-color: white;
    padding-top: 50px;
    
}
.text2{
   font-size: 44px; 
   font-family: 'Roboto', sans-serif;
}
.content1{
    padding: 0px 50px;
    margin-top: 60px;
    display: flex;
}
.textcontent1{
    margin-top: 60px;
    padding: 0px 100px;
    width: 700px;
}
.textchild{
    text-align: left;
}
.icons2 li {
    height: 42px;
    width: 42px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    list-style: none;
    display: flex;
    gap: 40px;
    
}
.icons2 {
    display: flex;
    left: 162px;
    top: 1162px;
    gap: 110px;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 110px;
    left: -562px;
}
.CTA {
    width: 1440px;
    height: 588px;
    position: relative;
    background-image: url(/images/background\ \(1\).png);
}
.download-button {
    width: 210px;
    height: 48px;
    background-color: #EBCB80;
    color: #3C3C3C;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
    margin-top: 349px;
    border-radius: 20px;
}
.download-button:hover {
    background-color: #DAAE5A; 
}
.Testimonials {
    width: 1440px;
    height: 876px;
    top: 2124px;
    background-color: white;   
}
.text6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 48px;
    font-size: 44px;
    color: #4B4B4B;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.ps1 {
    width: 96px;
    height: 95px;
    background-image: url(/images/person.png);
    position: absolute;    
    top: 2388.11px;
    left: 320px;
}
.ps2 {
    width: 96px;
    height: 95px;
    background-image: url(/images/Rectangle\ 524.png);
    position: absolute;    
    top: 2388.11px;
    left: 913px;
}
.ps3 {
    width: 96px;
    height: 95px;
    background-image: url(/images/3.png);
    position: absolute;    
    top: 2704.11px;
    left: 320px;
}
.card {
    width: 554px;
    height: 346.42px;
    top: 2645.8px;
    left: 874px;
    background-color: #c6c4c433;
    position: absolute;
}
.ps4 {
    width: 96px;
    height: 95px;
    top: 50.11px;
    left: 45px;
    background-image: url(/images/4.png);
    position: absolute;
    z-index: 1000;
}
.text4 {
    font-size: 44px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    top: 130px;
    line-height: normal;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.text5 {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    top: 100px;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 24px;
}
.pricing {
    width: 1440px;
    height: 680px;
    background-color: #F6F6F6;
    top: 3000px;
}
.text1pri {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    position: absolute;
    color: #4B4B4B;
    left: 50%;
    transform: translateX(-50%); 
    top: 3079px;   
}
.price1 {
    width: 270px;
    height: 396px;
    top: 3230px;
    left: 365px;
    background-color:rgb(87, 87, 87);
    position: absolute;
}
.t1price1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(235, 203, 128, 1);
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    
}
.dola {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    position: absolute;
    top: 70px;
    left: 73px;
}
.nb1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 48px;
    color: white;
    position: absolute;
    top: 27px;  
    left: 50%;  
    transform: translateX(-50%);
}
.year {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    color: white;
    top: 138px;
}
.infor {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    top: 190px;
}
.button {
    width: 198px;
    height: 48px;
    top: 310px;
    left: 50%;
    background-color: rgba(235, 203, 128, 1);
    position: absolute;
    transform: translateX(-50%);
    border-radius: 23px;
}
.textbutton {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(75, 75, 75, 1);
}
.price2 {
    width: 270px;
    height: 396px;
    top: 3230px;
    background-color:rgba(235, 203, 128, 1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.t1price2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    
}
.dola2 {
    color: rgba(75, 75, 75, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    position: absolute;
    top: 70px;
    left: 73px;
}
.nb2 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 27px;  
    left: 50%;  
    transform: translateX(-50%);
}
.year2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    color: rgba(75, 75, 75, 1);
    top: 138px;
}
.infor2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    top: 190px;
}
.button2 {
    width: 198px;
    height: 48px;
    top: 310px;
    left: 50%;
    background-color: rgba(75, 75, 75, 1);
    position: absolute;
    transform: translateX(-50%);
    border-radius: 23px;
}
.textbutton2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(255, 255, 255, 1);
}
.price3 {
    width: 270px;
    height: 396px;
    top: 3230px;
    background-color:rgb(45, 44, 44);
    position: absolute;
    right: 365px; 
}
.t1price3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(235, 203, 128, 1);
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    
}
.dola3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    position: absolute;
    top: 70px;
    left: 57px;
}
.nb3 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 48px;
    color: white;
    position: absolute;
    top: 27px;  
    left: 50%;  
    transform: translateX(-50%);
}
.year3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    color: white;
    top: 138px;
}
.infor3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    top: 190px;
}
.button3 {
    width: 198px;
    height: 48px;
    top: 310px;
    left: 50%;
    background-color: rgba(235, 203, 128, 1);
    position: absolute;
    transform: translateX(-50%);
    border-radius: 23px;
}
.textbutton3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color:rgba(75, 75, 75, 1);
}
.projects {
    width: 1440px;
    height: 1476px;
    top: 3000px;
    background-color: white;
}
.textpro {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3766px;
}
.h1 {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 3906px;
    left: 275.5px;
    background-image: url(/images/project-card.png);
}
.h2 {
    width: 760px;
    height: 380px;
    top: 3906px;
    background-image: url(/images/project-card\ \(1\).png);
    position: absolute;
    right: 275.5px;
}
.text1h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 20px;
    left: 410px;
}
.text2h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    left: 410px;
    top: 85px;
    color: rgba(255, 255, 255, 1);
}
.text3h2 {
    width: 32px;
    height: 6px;
    background-color:  rgba(255, 255, 255, 1);
    position: absolute;
    left: 410px;
    top: 150px;
}
.text4h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1) ;
    position: absolute;
    left: 410px;
    top: 190px;
    text-align: left;
}
.ich2 {
    list-style: none;
    position: absolute;
    top: 300px;
    left: 373px;
    display: flex;
    gap: 40px;
}
.h3 {
    width: 760px;
    height: 380px;
    position: absolute;
    background-image: url(/images/project-card\ \(2\).png);
    left: 275.5px;
    top: 4286.3px;
}
.h4 {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 4286.3px;
    right: 275.5px;
    background-image: url(/images/project-card\ \(3\).png);
}
.h5 {
    width: 380px;
    height: 380px;
    position: absolute;
    left: 275.5px;
    top: 4666.3px;
    background-image: url(/images/project-card\ copy.png);
}
.h6 {
    width: 380px;
    height: 380px;
    top: 4666.3px;
    position: absolute;
    left: 655.6px;
    background-color: rgba(246, 246, 246, 1);
}
.text1h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: rgba(75, 75, 75, 1);
    left: 40px;
    position: absolute;
    top: 23px;
}
.text2h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(75, 75, 75, 1);
    line-height: 30px;
    left: 40px;
    position: absolute;
    top: 88px;
}
.text3h6 {
    width: 32px;
    height: 6px;
    position: absolute;
    left: 40px;
    top: 152px;
    background-color:rgba(75, 75, 75, 1) ;
}
.team {
    width: 1440px;
    height: 590px;
    top: 5156px;
    background-image: url(/images/Background\ \(2\).png);
}
.text4h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    position: absolute;
    left: 40px;
    color: rgba(75, 75, 75, 1);   
    line-height: 54px;  
    text-align: left;
    margin-top: 212px;
}
.h7 {
    width: 380px;
    height: 380px;
    position: absolute;
    background-image: url(/images/project-card\ copy\ \(1\).png);
    top: 4666.3px;
    right: 275.5px;
}
.stt {
    list-style: none;
    display: flex;
    position: absolute;
    left: 593.5px;
    top: 5103px;
    gap: 60px;
}


.textteam1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 962px;
    top: 5423px;
}
.textteam2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 962px;
    top: 5490px;
}
.textteam3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.06px;
    color: rgba(255, 255, 255, 1);
    left: 962px;
    position: absolute;
    top: 5538px;
    text-align: left;
}
.contact {
    width: 1440px;
    height: 864px;
    top: 5746px;
    background-color: rgba(255, 255, 255, 1);
}
.map {
    width: 1440px;
    height: 400px;
    top: 6210px;
    background-color: rgba(216, 216, 216, 1);
    position: absolute;
    top: 6267.7px;
}
.ip {
    position: absolute;
    top: 5902px;
    left: 263px;
}
input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 2px solid rgba(125, 125, 125, 1); 
    outline: none; 
    font-family: 'Roboto', sans-serif;

}

::placeholder {
    color:rgba(125, 125, 125, 1); 
}


button[type="submit"] {
    background-color:rgba(235, 203, 128, 1); 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    width: 210px;
    height: 48px;
}
#message {
    top: 6060px;
    position: absolute;
    left: 660px;
}
#message::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; 
}
button[type="submit"] {
    position: absolute;
    top: 6154px;
    left: 50%;
    transform: translateX(-50%);
}
input[type="text"] {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    top: 5985px;
    position: absolute;
    left: 660px;

}
input[type="email"] {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    top: 5985px;
    left: 860px;
}
#email, #name {
    width: 10%; 
}
.pr {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    position: absolute;
    color: rgba(75, 75, 75, 1);
    left: 50%;
    transform: translateX(-50%);
    top: 5838px;
}
.vt {
    position: absolute;
    top: 5972px;
    left: 1135px;
}
.textvt {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(75, 75, 75, 1);
    left: 1160px;
    top: 5967px;
    text-align: left;
    line-height: 24px;
}
.gm {
    position: absolute;
    left: 1130px;
    top: 6045px;
}
.textgm {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(75, 75, 75, 1);
    left: 1160px;
    top: 6043px;
    line-height: 24px;
}
.dt {
    position: absolute;
    left: 1133px;
    top: 6095px;
}
.textdt {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(75, 75, 75, 1);
    left: 1160px;
    top: 6095px;
}
.all {
    left: 1127px;
    top: 6155px;
    position: absolute;
}
.bgrmap {
    position: absolute;
    top: 6461px;
    left: 900px;
}
.textmap {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    color: rgba(75, 75, 75, 1);
    text-align: left;
    top: 6485px;
    left: 920px;
}
.footer {
    width: 1440px;
    height: 374px;
    top: 6610px;
    background-color: rgba(75, 75, 75, 1);
}
.text1f {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.19px;
    color: rgba(235, 203, 128, 1);
    left: 283px;
    top: 6698px;
}
.text2f {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    position: absolute; 
    left: 273px;
    top: 6753px;  
    color: rgba(255, 255, 255, 1); 
    text-align: left;  
}
.text3f {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute; 
    left: 273px;
    top: 6850px; 
    color: rgba(255, 255, 255, 1); 
}
.text4f {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    position: absolute;
    left: 273px;
    top: 6890px; 
    color: rgba(255, 255, 255, 1);
}
.f1 {
    position: absolute;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    left: 820px;
    top: 6750px;  
    text-align: left;
}
.f1 li {
    
    
    padding: 0px;
    margin: 10px 0;
}
.f2 {
    position: absolute;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    top: 6750px;  
    left: 1040px;

}
.f2 li {
    padding: 0px;
    margin: 10px 0;
}
.f3 {
    position: absolute;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    top: 6750px;  
    left: 1260px;
}
.f3 li {
    padding: 0px;
    margin: 10px 0;
} 
.fl {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    top: 6894px;
    left: 1080px;
}
.text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    position: absolute;
    color: rgba(75, 75, 75, 1);
    left: 50%;
    transform: translateX(-50%);
    top: 812px;
}
.mac {
    position: absolute;
    top: 1015px;
    left: 686px;
}
.a {
    text-align: left;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(75, 75, 75, 1);
    right: 480px;
    top: -23px;
}
.b {
    text-align: left;
    position: absolute;
    right: 413px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(75, 75, 75, 1);
    top: 10px;
}
.social {
    position: absolute;
    top: 6940px;
    left: 1079px;
}
.text3 {
    position: absolute;
    color: #4B4B4B;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    word-wrap: break-word;
    top: 918px;
    left: 50%;
    transform: translateX(-50%);
}
.c {
    position: absolute;
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.89px;
    top: 126px;
    right: 512px;
}
.d {
    position: absolute;
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    right: 384px;
    top: 160px
}
.e {
    position: absolute;
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.89px;
    top: 280px;
    right: 475px;   
}
.f {
    position: absolute;
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    right: 380px;
    top: 312px
}
.a1 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    position: absolute;
    top: 2372.16px;
    left: 450px;
}
.a2 {
    color: #7D7D7D;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    top: 2397.16px;
    left: 450px;
}
.a3 {
    width: 320px;
    height: 1.99px;
    background-color: rgba(246, 246, 246, 1);
    position: absolute;
    top: 2447.16px;
    left: 450px;
}
.a4 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    top: 2457.16px;
    left: 450px;
    position: absolute;
}
.b1 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    position: absolute;
    left: 1040px;
    top: 2373.16px;
}
.b2 {
    color: #7D7D7D;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    top: 2397.16px;
    left: 1040.5px;
}
.b3 {
    width: 320px;
    height: 1.99px;
    background-color: rgba(246, 246, 246, 1);
    position: absolute;
    top: 2447.16px;
    left: 1040.5px;
}
.b4 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    top: 2457.16px;
    left: 1040.5px;
    position: absolute;
}
.d1 {

    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    position: absolute;
    top: 2685.16px;
    left: 450px;
}
.d2 {
    color: #7D7D7D;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    top: 2707.16px;
    left: 450px;
}
.d3 {
    width: 320px;
    height: 1.99px;
    background-color: rgba(246, 246, 246, 1);
    position: absolute;
    top: 2760.16px;
    left: 450px;
}
.d4 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    top: 2769.16px;
    left: 450px;
    position: absolute;
}
.e1 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    position: absolute;
    left: 165px;
    top: 35.16px;
}
.e2 {
    color: #7D7D7D;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    left: 165px;
    top: 60.16px;
}
.e4 {
    color: #4B4B4B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    left: 165px;
    top: 110.16px;
    position: absolute;
}
.e3 {
    width: 320px;
    height: 1.99px;
    background-color: rgba(246, 246, 246, 1);
    position: absolute;
    left: 165px;
    top: 110.16px;
}
#emaill {
    width: 232px;
    height: 48px;
    position: absolute;
    background-color: rgba(75, 75, 75, 1);
    top: 6945px;
    left: 274px;
    border: 1px #7D7D7D solid;
    border-radius: 4px;
}
#emaill::placeholder {
    color: rgb(190, 188, 188);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;

}    
#nextButton {
    width: 50px;
    height: 50px;
    background-image: url(/images/subscribe-button.svg);
    position: absolute;
    border: 1px #7D7D7D solid;
    border-radius: 4px;
    top: 6945.7px;
    left: 460.5px;

}
